@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blue-wave {
    background-image: url("./img/WaveDivider001.svg");
  }
  .menu-svg-path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.529167;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }
}

@layer utilities {
  .container-res {
    @apply w-4/5 md:w-3/4;
  }
}
